<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <p>
      Copyright © {% now "Y" %} OnixTech · 
      <a href="mailto:mark@onixtech.org" class="underline hover:text-white">mark@onixtech.org</a>
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="mailto:mark@onixtech.org">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 800 800" fill="none">
        <path d="M133.333 233.335L340 388.333C375.557 415 424.443 415 460 388.333L666.667 233.333" stroke="white" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M683.111 39H116.889C72.2152 39 36 85.1147 36 142V657C36 713.885 72.2152 760 116.889 760H683.111C727.785 760 764 713.885 764 657V142C764 85.1147 727.785 39 683.111 39Z" stroke="white" stroke-width="66.6667" stroke-linecap="round"/>
      </svg>
    </a>
  </nav>
</footer>
