{% extends "base.html" %}

{% load static %}

{% block title %}Onix Enviro{% endblock %}

{% block body_content_inner %}
<div class="py-12 text-center font-light mt-[100px] mb-[200px]">
    <div class="container mx-auto px-4 max-w-[70vw]">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight lg:text-7xl">
            Accelerate Development by Developing in the Cloud
        </h1>
        <p class="mt-4 text-base">
            Simplify Development Processes, Customize Environments, and Boost Efficiency to Accelerate Software Delivery
        </p>
        <a role="button" href="{% url "dashboard" %}" class="btn btn-outline btn-md mt-3 px-6 text-lg font-medium">
            Get Started
        </a>
    </div>
</div>

<div class="container mx-auto px-4 font-light">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="p-4">
            <div class="card bg-base-100 shadow-lg p-6 rounded-lg">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">
                        From onboarding to ready
                    </h3>
                </div>
                <div>
                    <p class="text-2xl font-bold">
                        5 min
                    </p>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="card bg-base-100 shadow-lg p-6 rounded-lg">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">
                        Saved time per week
                    </h3>
                </div>
                <div>
                    <p class="text-2xl font-bold">
                        4 hr
                    </p>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="card bg-base-100 shadow-lg p-6 rounded-lg">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">
                        Reduction in manual effort
                    </h3>
                </div>
                <div>
                    <p class="text-2xl font-bold">
                        30%
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-12 font-light">
    <div class="container mx-auto px-4 max-w-[80vw]">
        <h2 class="text-4xl font-bold tracking-tight lg:text-5xl">
            We Simplify Development Environment Management
        </h2>
        <p class="mt-4 text-xl">
            Every year, significant resources are wasted on inefficient development setups that slow down progress.
            Enviro simplifies environment creation with customizable, scalable solutions that integrate seamlessly with
            your needs. By automating processes and offering flexible configurations, Enviro helps developers and teams
            focus on delivering quality software while reducing setup time and boosting productivity.
        </p>
    </div>
</div>

<div class="py-12 font-light">
    <div class="container mx-auto px-4 max-w-[80vw]">
        <div class="flex flex-col md:flex-row items-center my-16">
            <div class="w-full md:w-1/2 mb-8 md:mb-0 md:pr-8">
                <div class="w-full max-w-[500px] mx-auto">
                    <img src="{% static 'home/img/editor.svg' %}" alt="Online Editors" class="w-full h-auto" />
                </div>
            </div>
            <div class="w-full md:w-1/2 md:pl-8">
                <h3 class="text-3xl font-bold mb-4">Online Editors</h3>
                <p class="text-xl">
                    Run online editors with ease. They are easy to run and manage via a dashboard. OnixIDE, VSCode, and
                    any other editor is supported via an SSH tunnel.
                </p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row-reverse items-center my-16">
            <div class="w-full md:w-1/2 mb-8 md:mb-0 md:pl-8">
                <div class="w-full max-w-[500px] mx-auto">
                    <img src="{% static 'home/img/desktop.png' %}" alt="Online Desktops" class="w-full h-auto" />
                </div>
            </div>
            <div class="w-full md:w-1/2 md:pr-8">
                <h3 class="text-3xl font-bold mb-4">Online Desktops</h3>
                <p class="text-xl">
                    Not only you can run editors, you can also run any VM or Docker container of your choosing, hence
                    allowing you to run NoVNC servers for remote desktop access.
                </p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row items-center my-16">
            <div class="w-full md:w-1/2 mb-8 md:mb-0 md:pr-8">
                <div class="w-full max-w-[500px] mx-auto">
                    <img src="{% static 'home/img/management.svg' %}" alt="Easy Management" class="w-full h-auto" />
                </div>
            </div>
            <div class="w-full md:w-1/2 md:pl-8">
                <h3 class="text-3xl font-bold mb-4">Easy Management</h3>
                <p class="text-xl">
                    Effortlessly manage your development environments and projects through a dashboard, with features
                    like provider selection, and customizable editor options.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
