<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Onix Enviro{% endblock %}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="flex items-center justify-center min-h-screen">
        <div class="flex flex-col items-center">
            <span class="text-xl font-semibold mb-2">Loading Environment</span>
            <span class="loading loading-spinner loading-xl"></span>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.reload();
        }, 5000);

        // theme
        const themeSwitch = document.getElementById('toggle-switch')
        const savedTheme = localStorage.getItem('theme');
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const defaultTheme = prefersDark ? 'dark' : 'light';
        const currentTheme = savedTheme || defaultTheme
        
        document.documentElement.setAttribute('data-theme', currentTheme);
        themeSwitch.checked = currentTheme === 'dark';
        
        
        themeSwitch.addEventListener('change', ()=>{
            const isChecked = themeSwitch.checked;
            const newTheme = isChecked ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        })
        
    </script>
</body>
</html>
